*{
  box-sizing: border-box;
  cursor: url(lighblue.cur), default;
  /* background-color: #e8f4f8,#e8f8f4; */
  /* cursor: url(foo6.gif) 0 0, grab; */
}

head{
  display: block;
}
body{
  animation: colorchange 15s linear 1s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 15s linear 0s infinite alternate;
  /* Chrome and Safari */
  /* margin-top: 6rem; */
  /* margin-left: calc(60rem * 1882700 * var(--scale)); */
  /* position: relative; */
}

@keyframes colorchange {
  0% {
    /* background: rgb(176, 164, 213, 0.55); */
    background: #d9eafb;
    /* color: cyan; */
  }

  33% {
    /* background: rgb(204, 158, 217, 0.55); */
    background: #eae5f4;
    /* color: magenta; */
  }

  66% {
    /* background: rgb(161, 181, 210, 0.55); */
    background: #d6eaf8;
    /* color: yellow; */
  }

  100% {
    /* background: rgb(188, 167, 214, 0.55); */
    background: #f7e1f6;
    /* color: cyan; */
  }
}

@-webkit-keyframes colorchange {

  /* Safari and Chrome - necessary duplicate */
  0% {
    /* background: rgb(176, 164, 213, 0.55); */
    background: #d9eafb;
    /* color: cyan; */
  }

  33% {
    /* background: rgb(204, 158, 217, 0.55); */
    background: #eae5f4;
    /* color: magenta; */
  }

  66% {
    /* background: rgb(161, 181, 210, 0.55); */
    background: #d6eaf8;
    /* color: yellow; */
  }

  100% {
    /* background: rgb(188, 167, 214, 0.55); */
    background: #f7e1f6;
    /* color: cyan; */
  }

}

div{
  position: absolute;/*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}
.background{
  z-index: -1;
  transform: scale(0.3);
}
h1{
  opacity:40%;
  color:rgb(96, 0, 125);
  font-size: 16px;
  transition: all 0.5s ease;
  text-align: center;
  font-family: 'Space Mono', monospace;
}
h1:hover{
  opacity:100%;
  color: rgb(36, 0, 180);

}
h2{
  opacity:40%;
  color:rgb(96, 0, 125);
  font-size: 15px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-weight: lighter;
}
h2:hover{
  opacity:100%;
  color: rgb(36, 0, 180);

}

.container{
  display: inline-block;
  /* position: fixed; */
  /* top:100px; */
  /* right: 500px; */
  /* width: 180px; */
  /* height: auto; */
  border: 3px dotted rgb(96, 0, 125, 0.2);
  padding: 15px;
  width: 170px;
  height: 475px;
  /* margin: auto; */
  /* width: 50%; */
  transition: all 2s ease;
  opacity:75%;
  background: rgb(248, 246, 255, 0.2);
  /* transform: translate(-50%,-50%); */
  z-index:1;

  /* see index #draggable to adjust height */

}
.container:hover{
  border: 3px dashed rgb(36, 0, 180, 0.1);
  opacity:100%;
}
.newpage{
  /* position: absolute; */
  /* top: 80px; */
  /* right: 60px; */
  /* width: 20px; */
  /* height: 20px; */
  transform: scale(1.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width:9%; */
  /* animation: fadeIn 3s ease; */
  /* animation-delay: 0s; */
  z-index: 2;
}

a:hover{
  cursor: url(darkerblue.cur), default;
}

.newpage:hover{
  transition: 1s ease;
  transform: scale(2.3);
  opacity: 100%;
  cursor: url(darkerblue.cur), default;
  /* cursor: url(); */

}